*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    
    text-align: center;
    font-weight: bold;
    font-size: 3rem;

    margin: 1%;
}

.box1, .box2, .box3{
    margin: 0.5%;
    float: left;
    box-sizing: border-box;
    border: 1px solid;
    width: 32%;
    position: relative;
    border: 2px solid black;
    background-color: rgb(187, 187, 187);
    padding: 15px;
    position: relative;
    float: left;
}


.right-top-box{
    display: flex;
    justify-content: center;
    height: 25px;
    border: 1px solid;
    width: 100px;
    text-align: center;
    float: right;
    right: 0%;
    top: 0%;
    clear: right;

    position: absolute;

    right: 0;
    top: 0%;
}

.box1{
    margin-left: 1%;
}   

.box1 .right-top-box{
    background-color:pink;

}

.box2 .right-top-box{
    background-color: rgb(255, 87, 87);

}
.box3 .right-top-box{
    background-color: rgb(240, 219, 101);

}

.text1{
    margin-top: 20px;
}






/* To Make it   RESPONSIVE */

@media (min-width: 768px) and (max-width: 991px) {
    .box2 {
        clear: right;
        
    }
    .box1, .box2{
        width: 48%;
    }
    
    .box3{
        width: 97%;
        margin-left: 1%;
    }
  }

  @media (max-width: 767px) {
    .box1, .box2, .box3{
        clear: right;
        width: 90%;
        
    }
    
    .group{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

  }